.subscribe-button{
    background-color: rgb(205, 32, 31);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
}
.join-button{
    background-color: white;
    color:blue;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    height: 25px;
    width: 62px;
    cursor: pointer;
    margin-right: 8px;


}

.tweet-button{
    background-color: rgb(29, 161, 242);
    color:white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size:  15px;
    cursor: pointer;

}