.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    background-color: lightblue;
    width: 230px;
    
}

.middle-section{
    background-color: lightpink;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 600px;
    
}

.right-section{
    background-color: lightblue;
    width: 260px;
   
}
    